# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtualenv
venv/
ENV/
env/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
instance/
media/
staticfiles/

# VSCode / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


# Coverage / testing
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log

# mypy / pylint / other tools
.mypy_cache/
.pyright/
.pyre/
.cache/
